<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>List des articles</h2>
            <ul class="list-group">
                <app-article-view *ngFor="let article of listArticles" [titleA]="article.title"
                    [description]="article.description" [resume]="article.resume" [categorie]="article.categorie">

                </app-article-view>
            </ul>
        </div>
    </div>
</div> -->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a routerLink="articles">Articles</a> </li>
            <li routerLinkActive="active"><a routerLink="addArticle">Ajouter article</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <router-outlet></router-outlet>
        <!-- <app-article-view></app-article-view> -->
    </div>
</div>