


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!-- Site Logo Here -->
            <a class="navbar-brand" href="home">WikiJV</a>
            <!-- Mobile Toggle Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMobileToggle" aria-controls="navbarMobileToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMobileToggle">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" *ngFor="let items of menuItems">
                        <a class="nav-link active" aria-current="page" href="{{items.linkUrl}}">{{items.linkName}}</a>
                    </li>
                
                </ul>
                <!-- Right Side -->
                <ul class="nav-item dropdown">
                    <li>
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">
                        Mon Compte
                        </a>
                    <li>
                    <li style="background-color: aliceblue;">
                        <a class="dropdown-item" href="login">Connexion</a>
                    </li>
                    <li style="background-color: aliceblue;"> 
                        <a class="dropdown-item" href="register">Inscription</a>
                    </li>   
                       
                        
                    
                </ul>
            </div>
        </div>
    </nav>
    
