<a routerLink="/articles">retour articles</a>

<!-- <div class="media">
    <img class="mr-6" src="/src/assets/Uncharted.jpg" alt="Generic placeholder image">
    <div class="media-body">
        <h5 class="mt-0">Media heading</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
        vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
        lacinia congue felis in faucibus.
    </div>
</div> -->
<li class="list-group-item">
    <img src="/src/assets/Uncharted.jpg" alt="">
    <h3> titre: {{ title }} </h3>
    <p> categorie: {{ categorie }} </p>
    <p> description: {{ description}} </p>
    <p> resumé: {{resume}} </p>
</li>