<div class="container">

    <p class="title text-h1">WikiJV</p>
    <p class="sous-titre">Viens partagez avec nous ton expérience sur ton jeux vidéo préféré!</p>


    <div class="row">
        <div class="card">
            <p>15 Catégories</p>
        </div>
        <div class="card">
            <p>5 Upvote /semaine</p>
        </div>
        <div class="card">
            <p>Fais connaître ton jeux préféré</p>
        </div>

    </div>

    <div class="commentCaMarche">
        <h3>Comment ça marche?</h3>
        <p>ça marche comme ça wsh </p>
    </div>

    <div class="QuiSommesNous">
        <h3>Qui sommes nous?</h3>
        <p>Nous sommes un groupe de 5 étudiants en Bachelor developpement web full stack à l'école IPSSI.</p>
    </div>




</div>